@model BoardGame.Features.Games.Details.DetailsViewModel

    <div>
        <label>Name: </label>
        <label>@Model.Name</label>
    </div>
<div>
    <label>Maximal amount of players: </label>
    <label>@Model.MaximalPlayersAmount</label>
</div>
<div>
    <label>Minimal amount of players: </label>
    <label>@Model.MinimalPlayersAmount</label>
</div>
<div>
    <label>Minimal recomanded age of players: </label>
    <label>@Model.MinimalPlayersAge</label>
</div>