@model BoardGame.Features.Games.Details.VisitViewModel 
    <div>
        <div>
            <label>date:</label>
            <label>@Model.Date</label>
        </div>
        <div>
            <label>time:</label>
            <label>@Model.Time</label>
        </div>
        <div>
            <label>source:</label>
            <label>@Model.Source</label>
        </div>
    </div>
