@model List<BoardGame.Features.Games.Index.GamesIndexViewModel>

<div class="text-center">
    <h1 class="display-4">Awsome Games</h1>
    <button>Add new game</button>
    <table>
        <tr>
            <th>Name</th>
        </tr>
        @foreach (var game in Model)
        {
            @Html.Partial("~/Features/Games/Index/RowPartial.cshtml", game)
        }
    </table>
    
</div>
