@model BoardGame.Features.Games.Index.GamesIndexViewModel

<tr>
    <td>
        @Model.Name
    </td>
    <td>
        <button type="button" onclick="location.href='@Url.Action("EditView","Games", new { Id = Model.Id})'">
            Edit
        </button>
    </td>
    <td>
        <button onclick="location.href='@Url.Action("DeleteView","Games", new { Id = Model.Id })'">
            Delete
        </button>
    </td>
    <td>
        <button onclick="location.href='@Url.Action("Details","Games", new { Id = Model.Id})'">
            Show Details
        </button>
    </td>
</tr>