<form asp-controller="Games" asp-action="Create">
    <div>
        <label>Name: </label>
        <input name="Name"/>
    </div>
    <div>
        <label>Maximal amount of players: </label>
        <input name="MaximalPlayersAmount" />

    </div>
    <div>
        <label>Minimal amount of players: </label>
        <input name="MinimalPlayersAmount" />

    </div>
    <div>
        <label>Minimal recomanded age of players: </label>
        <input name="MinimalPlayersAge" />

    </div>
    <button type="submit">Add</button>
</form>
